<form class="container-lg" (ngSubmit)="onSubmit()" > 

    <div class="mb-3 mt-5">
      <h2>State Your Email to Reset your Password . </h2>
    </div>
    <div class="mb-3 mt-5">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >

      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  
    
    <button type="submit" class="btn btn-primary">Send Password Reset Email </button>
  </form> 

  