
.form-div{
    /* background-color: rgb(5, 17, 63); */
    position: absolute;
    width: 500px;
    margin-left: 37%;
    margin-top: 7%;
    padding:50px;
    /* border-radius: 20px; */
    border-bottom: 2px solid rgba(5, 67, 6, 0.309);
}
a{
    text-decoration: none;

}
.form-body{ 
    margin-top: 50px;
    margin-bottom: 100px;
} 

.register-button{
    color: #000000;
  /* background-color: rgba(35, 45, 243, 0.934); */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #000000;
}
.register-button:hover{
 background-color: #000000;
 padding: 8px;
 border-radius: 5px;
 transition: 1s ease;
 color: white;
}